.squares-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.squares-box-container {
    cursor: pointer;
    margin-top: 1rem;
}
